/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, font {
  font-family: "Open Sans","Hind Siliguri", sans-serif;
}
body {
  background: linear-gradient(
    to bottom,
    #eff3ff 0px,
    #ffffff 700px,
    #ffffff 800px
  );
}

.skeleton {
  display: inline-block;
  color: transparent;
  background: linear-gradient(90deg, #f0f0f0 20%, #f8f8f8 50%, #f0f0f0 80%);
  background-size: 200% 100%;
  border-radius: 10px;
  min-width: 100%;
  animation: pulse 2.0s infinite;
}

/* Keyframes for pulse */
@keyframes pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Loaded state */
.skeleton.loaded {
  animation: none;
  background: none;
  color: inherit;
  min-width: 0px;
  transition: background 1.0s ease, color 1.0s ease;
}

/*bookmark*/
.bm-title {
  line-height: 1.5em;
}
.bm-title a {
  color: inherit;
}
.bm-title a:hover {
  text-decoration: none;
}
.bm-thumb {
  flex: 0 0 85px;
  line-height: 1;
  background: #eff3ff;
  font-size: 45px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.bm-delete {
  margin-left: auto;
  white-space: nowrap;
}
.bm-delete svg {
  height: 1.25rem;
  width: 1.25rem;
}
.bm-delete path {
  fill: none;
  stroke: #777;
}
.bm-delete:hover path {
  fill: #777;
}
.bookmark-inner ul {
  flex-direction: column;
}
.bookmark-inner ul, .bookmark-inner li, .fontBookmarks li, .fontBookmarkPost, .fontBookmarkPost label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bookmark-inner li {
  align-items: center;
}
li.bm-more {
  border-top: 1px solid #ededed;
  justify-content: center;
  padding: .75rem .75rem 0;
  margin-top: 1rem;
}
/* #fontBookmark:checked ~ label path, */
.fontBookmarkPost input:checked ~ label path {
  fill: #ef4444;
  stroke: #ef4444;
}
#fontBookmark:checked ~ .bookmark-wrapper {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  visibility: visible;
}




@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide in IE/Edge */
  scrollbar-width: none;  /* Hide in Firefox */
}

.gylph-container li {
  text-align: center;
  padding: 20px 20px;
  border: 0.5px dashed rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.dark .gylph-container li {
  border: 0.5px dashed rgba(255, 255, 255, 0.1);
}

.gylph-container li:hover {
  border:-1px inset;
  background-color:#000000;
  color:#ffffff;
}

.dark .gylph-container li:hover {
  border:-1px inset;
  background-color:#ffffff;
  color:#000000;
}

.prose img {
  border-radius: 30px;
}

html.dark {
    color-scheme: dark;
}
