@font-face {
        font-family: Kalpurush, serif;
        src: url('./kalpurush-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }