@font-face {
        font-family: 'Sapa', sans-serif;
        src: url('./sapa-regular.woff2') format('woff2'),
             url('./sapa-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }