@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-thin.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-extralight.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-semibold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-extrabold.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
      }
@font-face {
        font-family: 'Noto Sans Bengali', sans-serif;
        src: url('./noto-sans-bengali-black.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }