@font-face {
        font-family: 'UN Bangla', sans-serif;
        src: url('./un-bangla-thin.woff2') format('woff2'),
             url('./un-bangla-thin.woff') format('woff');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }

@font-face {
        font-family: 'UN Bangla', sans-serif;
        src: url('./un-bangla-regular.woff2') format('woff2'),
             url('./un-bangla-regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

@font-face {
        font-family: 'UN Bangla', sans-serif;
        src: url('./un-bangla-bold.woff2') format('woff2'),
             url('./un-bangla-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }