---
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
---

<Layout title="Unicode Characters - Bangla Web Fonts">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Unicode Characters"
      description="Browse Unicode characters relevant to Bangla typography. This includes native Bengali characters and symbols from other scripts often used alongside Bengali, such as Arabic, Devanagari."
    />




</section>
</Layout>